/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of the actual css */

html {
	width: auto;
	text-align: center;
	font-family: 'Readex Pro', sans-serif;
	color: white;
}

img {
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
}


h2 {
	font-size: 30px;
	margin-top: 3rem;
}


#greetings {
	margin-top: 2rem;
}

#timerDate {
	font-size: 60px;
	margin-top: 2rem;
	margin-bottom: 2rem;

}
#dateTimeDisplay {
	margin-bottom: -6rem;
}

#dateDisplay {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#dateOptions {
	display: block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

input {
	text-align: center;
}


#timeOptions {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

button {
	font-family: 'Readex Pro', sans-serif;
	color: #F0EDEE;
	background-color: #242038;
	font-size: 15px;
	margin-bottom: 2rem;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 5px;
}

#information {
	margin-bottom: 2rem;
}

.click {
	display: none;
}

.openSettings {
	display: none;
}

#allData {
	margin-top: 10rem;
}

@media screen and (min-width:850px) {

label{
	margin-right: 2rem;
}

#information{
	margin-bottom: 2rem;
}

	#dateOptions {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
		margin-bottom: 1rem;


	}

	#timeOptions {
		display: flex;
		justify-content: center;
		margin-top: 2rem;

	}

}